@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: "Integral Bold";
  src: url(../src/assets/fonts/integral/Fontspring-DEMO-integralcf-demibold.otf) format("woff2");
}

@font-face{
  font-family: "Satoshi";
  src: url(../src/assets/fonts/satoshi/WEB/fonts/Satoshi-Regular.woff2);
}

body {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
}

